# Network to deploy to, and the account paying for it.
ETH_RPC_URL=https://rpc.gnosischain.com
PRIVATE_KEY=

# Contract verification on block explorers, used by dev/verify-contracts.sh
#ETHERSCAN_API_KEY=

# CoW Settlement (GPv2Settlement)
SETTLEMENT=0x9008D19f58AAbD9eD0D60971565AA8510560ab41

# ComposableCoW (canonical)
COMPOSABLE_COW=0xfdaFc9d1902f4e0b84f65F49f244b32b31013b74

# CREATE2 salt used 
#SALT=v1.0.0

# Canonical deployment flag:
# Controls in `scripts/deploy_all.s.sol`:
#   - `CANONICAL=false`: Deploys deterministic CREATE2 contracts also for the legacy contracts (like ComposableCoW) making them predictable using the current code and SALT. 
#   - `CANONICAL=true` (default): Skip the legacy contracts, expect them to be deployed using script `dev/redeploy-canonical.sh` 
# More details, check `canononical/README.md` 
#CANONICAL=false
