[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.3
[submodule "lib/cowprotocol"]
	path = lib/cowprotocol
	url = https://github.com/rndlabs/cowswap-contracts
[submodule "lib/balancer"]
	path = lib/balancer
	url = https://github.com/rndlabs/balancer
[submodule "lib/canonical-weth"]
	path = lib/canonical-weth
	url = https://github.com/rndlabs/canonical-weth
[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "lib/safe"]
	path = lib/safe
	url = https://github.com/rndlabs/safe-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
